<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Game</title>
</head>
<body>
    {% if question %}
    <h1>Pregunta:</h1>
    <p>{{ question.text }}</p>
    <form method="post" action="{% url 'trivia:trivia' %}">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ question.id }}">
        {% for option in options %}
        <input type="radio" id="option_{{ option.id }}" name="answer" value="{{ option.id }}">
        <label for="option_{{ option.id }}">{{ option.text }}</label><br>
        {% endfor %}
        <button type="submit">Enviar</button>
    </form>
    {% else %}
    <p>¡Felicidades! Has completado todas las preguntas.</p>
    <form method="post" action="{% url 'trivia:restart' %}">
        {% csrf_token %}
        <button type="submit">Volver a comenzar</button>
    </form>
    {% endif %}
</body>
</html>
